<?xml version="1.0"?>

<launch>

  <!-- rosrun rosserial_python serial_node.py /dev/ttyUSB1 -->

  <!-- Ros serial para STM32 -->
  <node pkg="rosserial_python" type="serial_node.py" name="rms0001" output="screen">
    <param name="port" value="/dev/ttyTHS1" />
    <!-- <param name="baud" value="115200" /> -->
    <param name="tf_prefix" value="rms0001" />


  </node>

  <!-- run camsense_driver -->
  <node pkg="camsense_driver" type="camsense_publisher" name="camsense_publisher" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="offset" value="16.0" />
    <param name="frame_id" value="laser_link" />
  </node>


  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find robot_description)/rviz/config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_description)/urdf/robot_base.urdf.xacro" />
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_description)/worlds/willow_garage.world" />
  </include> -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobile_manipulator" />
  <rosparam command="load" file="$(find robot_description)/config/control.yaml" />
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />


  <include file="$(find robot_description)/launch/teleop.launch" />

  <!-- Publish robot odometry -->
  <!-- <node pkg="robot_description" name="rms_0001_base_node" type="rms_0001_base_node"></node> -->


</launch>