<?xml version="1.0"?>

<launch>


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_description)/urdf/robot_base.urdf.xacro" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_description)/worlds/willow_garage.world" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_base" />
  
  <rosparam command="load" file="$(find robot_description)/config/control.yaml" />
  
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False" />
  </node>

  <include file="$(find robot_description)/launch/teleop.launch" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find robot_description)/rviz/config.rviz" />

  <param name="/use_sim_time" value="true" />

  <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen">
    <remap from="scan" to="scan" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />
  </node>


</launch>