<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_essentials">

  <!--############################# ROS-CONTROL #########################################-->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <controlPeriod>0.001</controlPeriod>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
  <!--################################ ROS-Controllers ######################################-->
  <gazebo>
    <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>30</updateRate>
      <leftJoint>rear_left_wheel_joint</leftJoint>
      <rightJoint>rear_right_wheel_joint</rightJoint>
      <wheelSeparation>0.31808</wheelSeparation>
      <wheelDiameter>0.067</wheelDiameter>
      <wheelTorque>20</wheelTorque>
      <publishTf>false</publishTf>
      <odometryFrame>odom</odometryFrame>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <wheelAcceleration>2.8</wheelAcceleration>
      <publishWheelJointState>true</publishWheelJointState>
      <publishWheelTF>false</publishWheelTF>
      <odometrySource>world</odometrySource>
      <!-- <publishOdomTF>true</publishOdomTF> -->

      <!-- <odometrySource>world</odometrySource> -->

      <!-- <rosDebugLevel>Debug</rosDebugLevel> -->
    </plugin>
  </gazebo>

  <!--############################# Wheel friction #########################################-->
  <xacro:macro name="wheel_friction" params="prefix ">

    <gazebo reference="${prefix}_wheel">
      <mu1 value="0.1" />
      <mu2 value="0.1" />
      <kp value="500000.0" />
      <kd value="10.0" />
      <fdir1 value="1 0 0" />
      <minDepth value="0.001" />
      <maxVel value="0.1" />
      <dynamics damping="0.7" friction="100
      0.0" />
    </gazebo>

  </xacro:macro>
  <!--############################# Wheel friction #########################################-->
  <xacro:macro name="sphere_friction" params="prefix ">

    <gazebo reference="${prefix}_sphere">
      <mu1 value="0.0" />
      <mu2 value="0.0" />
      <kp value="1000000.0" />
      <kd value="1.0" />
      <fdir1 value="1 1 0" />
      <minDepth value="0.001" />
      <maxVel value="1.0" />
      <dynamics damping="0.7" friction="0.0" />
    </gazebo>

  </xacro:macro>

  <!--######################################################################-->


  <gazebo reference="laser_link">
    <sensor type="gpu_ray" name="laser">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.141592</min_angle>
            <max_angle>3.141592</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/front/scan</topicName>
        <frameName>laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!--######################################################################-->

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

</robot>